# UniFied seed node environment.
# Shared network values live in UNIFIED_NETWORK_CONFIG.

UNIFIED_MINE={{UNIFIED_MINE}}
UNIFIED_DATADIR={{DATA_DIR}}
UNIFIED_RPC_HOST={{RPC_HOST}}
UNIFIED_RPC_PORT={{RPC_PORT}}
UNIFIED_P2P_LISTEN={{P2P_LISTEN}}
UNIFIED_NETWORK_CONFIG={{NETWORK_CONFIG}}
UNIFIED_OPERATOR_ADDRESS={{OPERATOR_ADDRESS}}
UNIFIED_OPERATOR_ALIAS={{OPERATOR_ALIAS}}
UNIFIED_OPERATOR_VOTING_POWER={{OPERATOR_VOTING_POWER}}
