{
  "name": "{{NETWORK_NAME}}",
  "chainId": {{CHAIN_ID}},
  "genesisAddress": "{{GENESIS_ADDRESS}}",
  "architectAddress": "{{ARCHITECT_ADDRESS}}",
  "circulatingSupply": "{{CIRCULATING_SUPPLY}}",
  "bootnodes": {{BOOTNODES_JSON}}
}
